.shell {
  align-items: center;
  background: linear-gradient(
    var(--mantine-color-violet-8),
    var(--mantine-color-violet-black)
  );
  color: white;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.title {
  font-size: 60px;
}

.bottom {
  border-radius: var(--mantine-border-radius);
  max-width: 600px;
}
